html, body {
	text-align: center;
	background-color: black;
}
h1 {
	color: white;
}

.puzzle_block{
	border: solid 5px salmon;
}
.puzzle_input_cell, .puzzle_cell{
	border: solid 1px gray;
	width: 20px;
	height: 20px;
	text-align: center;
	margin:0;
	background-color: white;
	color: black;
}
.spacer {
	display: inline-block;
	width: 10%;
}
#submitted, #solved {
	text-align: center;
	display: inline-block;
	width: 35%;
}
#viewport {
	height: auto;
	min-height: 100vh !important;
	display:block;
}
#checkmark{
	display: inline-block;
	width: 64px;
}
#select_puzzle {
	display: none;
}
.centered-form {
	margin-left:30%;
	margin-right:30%;
}
label{
	color: white;
}
.diff1{
	color: green;
}

.diff2{
	color: green;
}

.diff3{
	color: white;
}
.diff4{
	color: blue;
}
.diff5{
	color: blue;
}
.diff6{
	color: purple;
}
.diff7{
	color: orange;
}
.diff8{
	color: red;
}